docker-build:
  image: docker:cli
  stage: build
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    BUILDX_BUILDER: builderx
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

    # Create context if not exists
    - |
      CONTEXT_NAME="pf-service-context"
      if docker context inspect "$CONTEXT_NAME" >/dev/null 2>&1; then
        echo "Context '$CONTEXT_NAME' already exists."
      else
        echo "Creating docker context '$CONTEXT_NAME'..."
        docker context create "$CONTEXT_NAME"
      fi

    # Create buildx builder if not exists
    - |
      if docker buildx inspect $BUILDX_BUILDER >/dev/null 2>&1; then
        echo "Buildx builder already exists"
        docker buildx use $BUILDX_BUILDER
      else
        echo "Creating buildx builder..."
        docker buildx create --name $BUILDX_BUILDER --driver docker-container --use pf-service-context
      fi

  script:
    # Compute tag (bash syntax!)
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        tag=":latest"
        echo "Default branch detected. Tag = latest"
      else
        tag=":$CI_COMMIT_REF_NAME"
        echo "Branch '$CI_COMMIT_BRANCH'. Tag = $tag"
      fi

    # Build multi-arch or single arch
    - docker buildx build --pull -t "$CI_REGISTRY_IMAGE$tag" .
    - docker buildx build --push -t "$CI_REGISTRY_IMAGE$tag" --platform linux/amd64 .

  rules:
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
      exists:
        - Dockerfile
